py_module: rvt2

model:
  weights: null

  hp:
    add_corr: true
    add_depth: true
    add_lang: true
    add_pixel_loc: true
    add_proprio: true
    attn_dim: 512
    attn_dim_head: 64
    attn_dropout: 0.1
    attn_heads: 8
    depth: 8
    feat_dim: 220 # 72*3 + 4
    im_channels: 64
    point_augment_noise: 0.05
    img_feat_dim: 3
    img_patch_size: 14
    img_size: 224
    lang_dim: 512
    lang_len: 77
    norm_corr: true
    pe_fix: true
    proprio_dim: 3 # 4 # 18
    mvt_cameras: ['top', 'left', 'front']
    stage2_zoom_scale: 4
    stage2_waypoint_label_noise: 0.05
    rot_x_y_aug: 2
    use_xformers: true

    gt_hm_sigma: 1.5
    move_pc_in_bound: true
    place_with_mean: false

    amp: True
    bnb: True

    # lr should be thought on per sample basis
    # effective lr is multiplied by bs * num_devices
    lr: 5e-5 # 1.25e-5 # 1e-4
    warmup_steps: 2000
    optimizer_type: lamb
    lr_cos_dec: true
    add_rgc_loss: true
    transform_augmentation: true
    transform_augmentation_xyz: [0.125, 0.125, 0.125]
    transform_augmentation_rpy: [0.0, 0.0, 45.0]
    lambda_weight_l2: 1e-4 # 1e-6
    num_rotation_classes: 72

    cos_dec_max_step: -1 # will be override during training

    render_with_cpp: true

env:
  tasks: body_sleeve_assembly # all
  cameras: ["front","left_shoulder", "right_shoulder", "overhead"] # ["front", "left_shoulder", "right_shoulder", "wrist"]
  scene_bounds: [-0.4, -0.5, -0.2, 0.05, 0.0, 0.3] #[-0.3, -0.5, 0.6, 0.7, 0.5, 1.6] # [x_min, y_min, z_min, x_max, y_max, z_max] - the metric volume to be voxelized
  image_size: 512
  time_in_state: false
  voxel_size: 100
  episode_length: 25
  rotation_resolution: 5
  origin_style_state: true

train:
  bs: 36 # 48
  demo_folder: ./data/train
  epochs: 8 # 100
  num_gpus: 1
  num_workers: 4 # before 8 # need larger value
  num_transitions_per_epoch: 160000
  disp_freq: 100
  cached_dataset_path: null
  save_freq: 1000
  eval_mode: false
  k2k_sample_ratios: 
    piston_sleeve_installation: 1.0 
    sleeve_fixturing: 1.0 
    rod_sleeve_assembly: 1.0
    rod_fixturing: 1.0
    large_spring_installation: 1.0
    nut_sleeve_assembly: 1.0
    plug_sleeve_assembly: 1.0
    spring_sleeve_assembly: 1.0
    body_sleeve_assembly: 1.0
  variation_path: all_variations # variation0 # all_variations
  episode_path: null # episode4 # null
eval:
  # datafolder: ./data/test
  # episode_num: 25
  # start_episode: 0
  # headless: true
  # save_video: false
  # device: 0

hydra:
  job:
    name: RVT2_${train.num_gpus}GPU
    chdir: false
  run:
    dir: outputs/${hydra.job.name}/lr${model.hp.lr}/RVT2_task_${env.tasks}/${now:%Y_%m_%d}_${train.bs}BS_${train.epochs}epochs/${now:%Y-%m-%d_%H-%M} 

output_dir: ${hydra:run.dir} 

wandb: 
  project: arp_moe # before null
  use_wandb: false
  use_proxy: true
  proxy_settings:
    http_proxy: "http://10.81.36.233:7890"
    https_proxy: "http://10.81.36.233:7890"
    wandb_init_timeout: "600"
    wandb_http_timeout: "300"

swanlab:
  project: ATG_MoE_RVT2
  use_swanlab: true
